
@import url("https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #303F9F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 960px;
    margin: 0 auto;
}

#quote-box {
    width: 34rem;
    height: auto;
    margin: 10rem auto;
    padding: 2rem;
    border-radius: 5px;
    background-color: ghostwhite;
}

#text {
    font-size: 1.89rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

#author {
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-end;
    font-size: 1.4rem;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.social-media > a {
    margin-right: .5rem;
    background-color: #C5CAE9;
    padding: .3rem .5rem;
    cursor: pointer;
}

.social-media > a:hover {
    filter: contrast(.8);
}

.social-media > a > span > i {
    width: 1.7rem;
}

#new-quote {
    background: #C5CAE9;
    color: blue;
    border: none;
    padding: .7rem 1rem;
    font-family: 'Manrope', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}